apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: blog-prod

namePrefix: prod-

resources:
  - ../../base

commonLabels:
  environment: prod
  tier: production

configMapGenerator:
  - name: blog-config
    behavior: merge
    literals:
      - VERSION=prod-1.0.0
      - BLOG_TITLE=Blog PRODUCTION
      - DEBUG=false
      - LOG_LEVEL=error
      - ANALYTICS_ENABLED=true

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: blog
  
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "512Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "250m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "500m"
    target:
      kind: Deployment
      name: blog
  
  # Ajouter des annotations pour monitoring
  - patch: |-
      - op: add
        path: /spec/template/metadata/annotations
        value:
          prometheus.io/scrape: "true"
          prometheus.io/port: "80"
    target:
      kind: Deployment
      name: blog